<% if @selfie.errors.any? %>
<%= @selfie.errors.full_messages %>
<% end %>

<%= form_for @selfie do |f| %>
<%= f.text_field :body %>
<%= f.submit %> 
<% end %>

<ul>
  <% @selfies.each do |selfie| %>
    <li><%= selfie.text %></li>
  <% end %>
</ul>